* {
    font-family: "Monserrat", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(135deg, #294920 5%, #2c9537 95%);
}

.main-header {
    background-color: #000;
    color: #fff;
    text-align: center;
}

.navbar-brand, .nav-link {
    color: #ffffff !important;
}

.banner-image {
    width: 100%;
    height: auto;
    opacity: 0.8;
}

.social-icons {
    display: flex;
    gap: 10px;
    padding-right: 30px;
}

p {
    color: #ffffff;
}

.about  {
    color: white;
}

.cta-button {
    background-color: #d4af37;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.gallery-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.gallery-header {
    margin-bottom: 30px;
    color: #fcfcfc;
}

.comiunities-group {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    gap: 40px;
    text-align: center;
    justify-content: space-around;
    display: flex;
}

.comiunitie {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 10px;
    width: 40%;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Suaviza la transición */
}

.comiunitie:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

.comiunitie img {
    width: 350px;
    text-align: center;
}

.amenities-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.amenities-header {
    margin-bottom: 30px;
    color: #ffffff;
}

.amenities-group {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    gap: 40px;
    text-align: center;
    justify-content: space-around;
    display: flex;
}

.amenity {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 10px;
    width: 40%;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Suaviza la transición */
}

.amenity:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.icon {
    font-size: 48px; /* Ajusta esto según el tamaño de tus iconos */
    margin-bottom: 10px;
}

.amenity p {
    color: #ffffff;
}

.amenity h3 {
    color: #2a2a2a;
}

.amenity p {
    color: #666666;
}

.amenity img {
    width: 350px;
    height: auto;
}

.main-header {
    text-align: center;
    color: white;
    background-image: url('banner.jpg');
    background-size: cover;
}

.main-header h1, .main-header p {
    background-color: rgba(0,0,0,0.5);
    display: inline-block;
}

.cta-button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.about, .featured-amenities, .testimonials, .gallery {
    padding: 20px;
    text-align: center;
}

.gallery img {
    margin: 10px;
    width: calc(33% - 20px);
    height: auto;
}

#contact .contact-container {
    display: flex;
    flex-direction: row; /* Alinea los elementos horizontalmente */
    align-items: flex-start; /* Alinea los elementos al inicio de su contenedor */
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
    gap: 20px; /* Espacio entre el mapa y la información de contacto */
}

.map-edit iframe {
    width: 902px; /* Ancho específico para el mapa */
    height: 896px; /* Altura específica para el mapa */
}

.contact-inf, .contact-form {
    width: calc(100% - 902px - 20px); /* Calcula el ancho restante descontando el ancho del mapa y el gap */
    display: flex;
    flex-direction: column; /* Organiza el contenido de contacto en una columna */
    text-align: center;
    gap: 20px;
}

.social-links-container {
    display: flex;
    flex: row;
    justify-content: center;
}

.social-links {
    display: flex;
    gap: 40px;
    padding: 40px;
}

.contact-inf {
    padding: 5%;
}

.contact-inf h2 {
    color: white;
}

.contact-inf p {
    color: #ffffff;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 50px;
}

footer p {
    color: white;
}